/* Author: Shani Kachhadiya(sh248902@dal.ca) || Banner Id : B00917757 */

.Live-update-title {
	color: rgba(12, 28, 70, 1);
	font-family: sans-serif;
	font-size: 36px;
	font-weight: 600;
	align-items: center;
	text-align: center;
	padding-top: 20px;
}
.create_live_update_div_outer_div {
	background-color: white;
	box-shadow: 0 1.6rem 2rem -1rem hsla(225, 51%, 44%, 0.33);
	height: 80vh;
	max-height: fit-content;
	margin: auto;
	width: fit-content;
	border-radius: 8px;
	padding: 20px;
}
.create_live_update_button {
	display: flex;
	margin-top: 40px;
	margin-left: 20px;
	position: relative;
}

.createLiveUpdate-form {
	display: grid;
	grid-template-columns: 2fr 1.2fr;
	border-radius: 12px;
	box-sizing: border-box;
	text-align: center;
	margin: 0px auto 0px auto;
	width: 800px;
}
.liveUpdatePhoto-select {
	margin-top: 18px;
	padding-right: 30px;
	padding-left: 30px;
}
.liveUpdate-image {
	height: 400px;
	width: 100%;
	border-radius: 12px;
	margin-top: 10px;
}
input::-webkit-file-upload-button {
	outline: none;
	border: none;
}
input[type='file'] {
	color: rgba(0, 0, 0, 0);
}
@media (max-width: 777px) {
	.createLiveUpdate-form {
		display: flex;
		flex-direction: column;
		width: 90%;
	}
	.create_live_update_div_outer_div {
		height: 100vh;
	}
	.create_live_update_button {
		justify-content: center;
	}
}
